{% extends 'base.html' %}

{% block content %}

<div class="glass p-5 text-center">

    <h1 class="mb-4 fw-bold">
        Iniciar Sesión
    </h1>

    <form method="POST">

        {% csrf_token %}

        <div class="mb-4">

            <input type="text"
                   name="username"
                   class="form-control custom-input"
                   placeholder="👤 Usuario"
                   required>

        </div>

        <div class="mb-4">

            <input type="password"
                   name="password"
                   class="form-control custom-input"
                   placeholder="🔒 Contraseña"
                   required>

        </div>

        <button type="submit"
                class="btn-premium px-5 py-3">

            Entrar

        </button>

    </form>

    <div class="mt-4">

        <a href="{% url 'registro_usuario' %}"
           class="text-white text-decoration-none">

            Crear una cuenta nueva

        </a>

    </div>

</div>

<style>
.custom-input{
    background: #111 !important;
    border: 1px solid #2a2a2a !important;
    color: white !important;
    padding: 14px !important;
    border-radius: 14px !important;
}

.custom-input::placeholder{
    color: #9ca3af !important;
}

.custom-input:focus{
    background: #181818 !important;
    border-color: #555 !important;
    box-shadow: 0 0 12px rgba(255,255,255,0.08) !important;
}
</style>

{% endblock %}